body{
    background-image: var(--background);
    /* linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)) , */
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
:root
{
    --main-color: white;
    --font-color: black;
    --sub-color: #01527B;
    --background: url(../images/dramatic-skies.jpg);
}
body.dark-theme
{
    --main-color: black;
    --font-color: white;
    --sub-color: #5fbbe9;
    --background: url(../images/2.jpg);
}

/* NavBar */

.navbar
{
    background-color: var(--main-color);
}
.logo h5{
    color: var(--font-color);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
}
.logo h6{
    color: var(--font-color);
    font-family: sans-serif;
    font-weight: 300;
    font-size: 10px;
}
.nav-link
{
    margin-inline: 3px !important;
    font-weight: 500 !important;
    padding: 0;
    border: 2px solid transparent;
    transition: all 0.3s;
    padding-inline: 20px !important;
    color: var(--font-color);
}
.nav-link:hover
{
    color: var(--sub-color) !important;
    border: 2px solid var(--sub-color);
    border-radius: 25px;
}
.nav-item .activee
{
    color: var(--sub-color) !important;
    border: 2px solid var(--sub-color);
    border-radius: 25px;
    padding: 0;
}
.theme-icon i
{
    font-size: 30px;
    cursor: pointer;
    color: var(--sub-color);
}

/* End Of NavBar */

/* Content */
.inputs{
    position: relative;
}
#searchInput , #subscribeInput
{
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: var(--font-color);
}
#findBtn , #subscribeBtn
{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    background-color: var(--sub-color);
    color: var(--main-color);
}
.card-title
{
    border-bottom: var(--sub-color) 1px solid;
    padding-block: 5px;
}
.card-title span
{
    font-weight: 500;
}
.card-body h5
{
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
}
.card-body h2
{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 0;
}
.condition
{
    padding: 0;
    margin: 0;
}
.card
{
    background-color: var(--main-color);
    transition: transform 0.3s;
    /* height: 360px; */
    margin-top: 20px;
    color:var(--sub-color);
}
.card:hover
{
    transform: translateY(-10px);
}
.card-body i{
    font-size: 34px;
}
.card-body p{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.redd
{
    color: red;
}
.bluee
{
    color: blue;
}
.greenn
{
    color: green;
}
.card-body h3
{
    font-size: 40px;
    font-weight: 800;
    padding-top: 10px;
}
.card-body h4
{
    font-weight: 600;
}
.inputbg
{
    background-color: var(--main-color) !important;
}
input::placeholder
{
    color: var(--font-color) !important;
}
.header
{
    position: relative;
}
.alert 
{
    
    font-weight: 700;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 5px;
    margin-block: 0;
}
/* End Of Content */

/* Footer */

.social-icons i
{
    font-size: 22px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    padding-top: 8px;
    color:  var(--sub-color);
    transition: color 0.3s , background-color 0.3s;
}
.social-icons i:hover
{
    color: var(--main-color);
    background-color: var(--sub-color);
}
.foot
{
    color: white;
    font-weight: 600;
}
.fa-sun
{
    color: yellow;
}
.fa-cloud-sun
{
    color: grey;
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .card-body h2
    {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
    }

}